<div id="<%= dom_id deal %>">
  <p>
    <strong>Deal title:</strong>
    <%= deal.deal_title %>
  </p>

  <p>
    <strong>Deal start time:</strong>
    <%= deal.deal_start_time %>
  </p>

  <p>
    <strong>Deal end time:</strong>
    <%= deal.deal_end_time %>
  </p>

  <p>
    <strong>Deal description:</strong>
    <%= deal.deal_description %>
  </p>

  <p>
    <strong>Bar:</strong>
    <%= deal.bar_id %>
  </p>

  <p>
    <strong>Deal discount:</strong>
    <%= deal.deal_discount %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= deal.event_id %>
  </p>

  <p>
    <strong>Deal category:</strong>
    <%= deal.deal_category %>
  </p>

  <p>
    <strong>Deal subcategory:</strong>
    <%= deal.deal_subcategory %>
  </p>

</div>
