<div id="<%= dom_id reservation %>">
  <p>
    <strong>Reservation name:</strong>
    <%= reservation.reservation_name %>
  </p>

  <p>
    <strong>Reservation description:</strong>
    <%= reservation.reservation_description %>
  </p>

  <p>
    <strong>Reservation category:</strong>
    <%= reservation.reservation_category %>
  </p>

  <p>
    <strong>Reservation subcategory:</strong>
    <%= reservation.reservation_subcategory %>
  </p>

  <p>
    <strong>Reservation number people:</strong>
    <%= reservation.reservation_number_people %>
  </p>

  <p>
    <strong>Reservation date:</strong>
    <%= reservation.reservation_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Bar:</strong>
    <%= reservation.bar_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= reservation.event_id %>
  </p>

</div>
