<div id="<%= dom_id menu %>">
  <p>
    <strong>Menu name:</strong>
    <%= menu.menu_name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= menu.user_id %>
  </p>

  <p>
    <strong>Bar:</strong>
    <%= menu.bar_id %>
  </p>

  <p>
    <strong>Menu description:</strong>
    <%= menu.menu_description %>
  </p>

  <p>
    <strong>Menu rank:</strong>
    <%= menu.menu_rank %>
  </p>

  <p>
    <strong>Menu category:</strong>
    <%= menu.menu_category %>
  </p>

  <p>
    <strong>Menu subcategory:</strong>
    <%= menu.menu_subcategory %>
  </p>

  <p>
    <strong>Menu subcategory:</strong>
    <%= menu.menu_subcategory %>
  </p>

  <p>
    <strong>Menu region:</strong>
    <%= menu.menu_region %>
  </p>

  <p>
    <strong>Menu price:</strong>
    <%= menu.menu_price %>
  </p>

</div>
