<%= form_with(model: query) do |form| %>
  <% if query.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
        <% query.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :query_start, style: "display: block" %>
    <%= form.date_field :query_start %>
  </div>

  <div>
    <%= form.label :query_start_time, style: "display: block" %>
    <%= form.time_field :query_start_time %>
  </div>

  <div>
    <%= form.label :query_end, style: "display: block" %>
    <%= form.date_field :query_end %>
  </div>

  <div>
    <%= form.label :query_end_time, style: "display: block" %>
    <%= form.time_field :query_end_time %>
  </div>

  <div>
    <%= form.label :neighborhood, style: "display: block" %>
    <%= form.text_field :neighborhood %>
  </div>

  <div>
    <%= form.label :zip_code, style: "display: block" %>
    <%= form.number_field :zip_code %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :date_start, style: "display: block" %>
    <%= form.date_field :date_start %>
  </div>

  <div>
    <%= form.label :date_end, style: "display: block" %>
    <%= form.date_field :date_end %>
  </div>

  <div>
    <%= form.label :vendor, style: "display: block" %>
    <%= form.check_box :vendor %>
  </div>

  <div>
    <%= form.label :event, style: "display: block" %>
    <%= form.check_box :event %>
  </div>

  <div>
    <%= form.label :performer, style: "display: block" %>
    <%= form.check_box :performer %>
  </div>

  <div>
    <%= form.label :menu, style: "display: block" %>
    <%= form.check_box :menu %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :subcategory, style: "display: block" %>
    <%= form.text_field :subcategory %>
  </div>

  <div>
    <%= form.label :ranking, style: "display: block" %>
    <%= form.number_field :ranking %>
  </div>

  <div>
    <%= form.label :sitting, style: "display: block" %>
    <%= form.text_field :sitting %>
  </div>

  <div>
    <%= form.label :user, style: "display: block" %>
    <%= form.check_box :user %>
  </div>

  <div>
    <%= form.label :user_name, style: "display: block" %>
    <%= form.text_field :user_name %>
  </div>

  <div>
    <%= form.label :vendor_name, style: "display: block" %>
    <%= form.text_field :vendor_name %>
  </div>

  <div>
    <%= form.label :event_name, style: "display: block" %>
    <%= form.text_field :event_name %>
  </div>

  <div>
    <%= form.label :price_rank, style: "display: block" %>
    <%= form.number_field :price_rank %>
  </div>

  <div>
    <%= form.label :review_rank, style: "display: block" %>
    <%= form.number_field :review_rank %>
  </div>

  <div>
    <%= form.label :deal_name, style: "display: block" %>
    <%= form.text_field :deal_name %>
  </div>

  <div>
    <%= form.label :deal_r_start, style: "display: block" %>
    <%= form.number_field :deal_r_start %>
  </div>

  <div>
    <%= form.label :deal_r_end, style: "display: block" %>
    <%= form.number_field :deal_r_end %>
  </div>

  <div>
    <%= form.label :menu_name, style: "display: block" %>
    <%= form.text_field :menu_name %>
  </div>

  <div>
    <%= form.label :menu, style: "display: block" %>
    <%= form.check_box :menu %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
