<div id="<%= dom_id event %>">
  <p>
    <strong>Event name:</strong>
    <%= event.event_name %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </p>

  <p>
    <strong>Event description:</strong>
    <%= event.event_description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event.user_id %>
  </p>

  <p>
    <strong>Bar:</strong>
    <%= event.bar_id %>
  </p>

  <p>
    <strong>Performer:</strong>
    <%= event.performer_id %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= event.reservation_id %>
  </p>

  <p>
    <strong>Event duration:</strong>
    <%= event.event_duration %>
  </p>

  <p>
    <strong>Event category:</strong>
    <%= event.event_category %>
  </p>

  <p>
    <strong>Event subcategory:</strong>
    <%= event.event_subcategory %>
  </p>

  <p>
    <strong>Event price:</strong>
    <%= event.event_price %>
  </p>

  <p>
    <strong>Event location:</strong>
    <%= event.event_location %>
  </p>

</div>
