<div id="<%= dom_id user %>">
  <p>
    <strong>User name:</strong>
    <%= user.user_name %>
  </p>

  <p>
    <strong>User address:</strong>
    <%= user.user_address %>
  </p>

  <p>
    <strong>User gender:</strong>
    <%= user.user_gender %>
  </p>

  <p>
    <strong>User description:</strong>
    <%= user.user_description %>
  </p>

  <p>
    <strong>User date of birth:</strong>
    <%= user.user_date_of_birth %>
  </p>

  <p>
    <strong>User email:</strong>
    <%= user.user_email %>
  </p>

  <p>
    <strong>User password digest:</strong>
    <%= user.user_password_digest %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= user.vendor_id %>
  </p>

  <p>
    <strong>Performer:</strong>
    <%= user.performer_id %>
  </p>

  <p>
    <strong>Friend user:</strong>
    <%= user.friend_user_id %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= user.menu_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= user.event_id %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= user.reservation_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= user.review_id %>
  </p>

  <p>
    <strong>Bar admin:</strong>
    <%= user.bar_admin %>
  </p>

  <p>
    <strong>Performer admin:</strong>
    <%= user.performer_admin %>
  </p>

  <p>
    <strong>Crew member:</strong>
    <%= user.crew_member %>
  </p>

</div>
