<div id="<%= dom_id performer %>">
  <p>
    <strong>Performer name:</strong>
    <%= performer.performer_name %>
  </p>

  <p>
    <strong>Performer description:</strong>
    <%= performer.performer_description %>
  </p>

  <p>
    <strong>Performer email:</strong>
    <%= performer.performer_email %>
  </p>

  <p>
    <strong>Performer website:</strong>
    <%= performer.performer_website %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= performer.vendor_id %>
  </p>

  <p>
    <strong>Follower user:</strong>
    <%= performer.follower_user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= performer.event_id %>
  </p>

  <p>
    <strong>Perfomer rank:</strong>
    <%= performer.perfomer_rank %>
  </p>

  <p>
    <strong>Performers user:</strong>
    <%= performer.performers_user_id %>
  </p>

  <p>
    <strong>Performer category:</strong>
    <%= performer.performer_category %>
  </p>

  <p>
    <strong>Performer subcategory:</strong>
    <%= performer.performer_subcategory %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= performer.review_id %>
  </p>

  <p>
    <strong>Performer content:</strong>
    <%= performer.performer_content %>
  </p>

</div>
