<div id="<%= dom_id vendor %>">
  <p>
    <strong>Vendor name:</strong>
    <%= vendor.vendor_name %>
  </p>

  <p>
    <strong>Vendor email:</strong>
    <%= vendor.vendor_email %>
  </p>

  <p>
    <strong>Vendor website:</strong>
    <%= vendor.vendor_website %>
  </p>

  <p>
    <strong>Vendor phone number:</strong>
    <%= vendor.vendor_phone_number %>
  </p>

  <p>
    <strong>Vendor address:</strong>
    <%= vendor.vendor_address %>
  </p>

  <p>
    <strong>Vendor category:</strong>
    <%= vendor.vendor_category %>
  </p>

  <p>
    <strong>Vendor subcategory:</strong>
    <%= vendor.vendor_subcategory %>
  </p>

  <p>
    <strong>Crew:</strong>
    <%= vendor.crew_id %>
  </p>

  <p>
    <strong>Vendor founded date:</strong>
    <%= vendor.vendor_founded_date %>
  </p>

  <p>
    <strong>Vendor accepted payment:</strong>
    <%= vendor.vendor_accepted_payment %>
  </p>

  <p>
    <strong>Admin user:</strong>
    <%= vendor.admin_user_id %>
  </p>

  <p>
    <strong>Deals:</strong>
    <%= vendor.deals_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= vendor.review_id %>
  </p>

  <p>
    <strong>Community user:</strong>
    <%= vendor.community_user_id %>
  </p>

  <p>
    <strong>Performer:</strong>
    <%= vendor.performer_id %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= vendor.menu_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= vendor.event_id %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= vendor.reservation_id %>
  </p>

</div>
