<div id="<%= dom_id query %>">
  <p>
    <strong>User:</strong>
    <%= query.user_id %>
  </p>

  <p>
    <strong>Query start:</strong>
    <%= query.query_start %>
  </p>

  <p>
    <strong>Query start time:</strong>
    <%= query.query_start_time %>
  </p>

  <p>
    <strong>Query end:</strong>
    <%= query.query_end %>
  </p>

  <p>
    <strong>Query end time:</strong>
    <%= query.query_end_time %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= query.neighborhood %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= query.zip_code %>
  </p>

  <p>
    <strong>City:</strong>
    <%= query.city %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= query.date_start %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= query.date_end %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= query.vendor %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= query.event %>
  </p>

  <p>
    <strong>Performer:</strong>
    <%= query.performer %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= query.menu %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= query.category %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= query.subcategory %>
  </p>

  <p>
    <strong>Ranking:</strong>
    <%= query.ranking %>
  </p>

  <p>
    <strong>Sitting:</strong>
    <%= query.sitting %>
  </p>

  <p>
    <strong>User:</strong>
    <%= query.user %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= query.user_name %>
  </p>

  <p>
    <strong>Vendor name:</strong>
    <%= query.vendor_name %>
  </p>

  <p>
    <strong>Event name:</strong>
    <%= query.event_name %>
  </p>

  <p>
    <strong>Price rank:</strong>
    <%= query.price_rank %>
  </p>

  <p>
    <strong>Review rank:</strong>
    <%= query.review_rank %>
  </p>

  <p>
    <strong>Deal name:</strong>
    <%= query.deal_name %>
  </p>

  <p>
    <strong>Deal r start:</strong>
    <%= query.deal_r_start %>
  </p>

  <p>
    <strong>Deal r end:</strong>
    <%= query.deal_r_end %>
  </p>

  <p>
    <strong>Menu name:</strong>
    <%= query.menu_name %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= query.menu %>
  </p>

</div>
