<div id="<%= dom_id review %>">
  <p>
    <strong>Review title:</strong>
    <%= review.review_title %>
  </p>

  <p>
    <strong>Review description:</strong>
    <%= review.review_description %>
  </p>

  <p>
    <strong>Review rank:</strong>
    <%= review.review_rank %>
  </p>

  <p>
    <strong>Review price rank:</strong>
    <%= review.review_price_rank %>
  </p>

  <p>
    <strong>Review date:</strong>
    <%= review.review_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Bar:</strong>
    <%= review.bar_id %>
  </p>

  <p>
    <strong>Performer:</strong>
    <%= review.performer_id %>
  </p>

</div>
