<p style="color: green"><%= notice %></p>

<%= render @vendor_follower %>

<div>
  <%= link_to "Edit this vendor follower", edit_vendor_follower_path(@vendor_follower) %> |
  <%= link_to "Back to vendor followers", vendor_followers_path %>

  <%= button_to "Destroy this vendor follower", @vendor_follower, method: :delete %>
</div>
